@model BillStatus.Models.NewBillTypeDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BillType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="bill-type-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type.Name" class="control-label"></label>
                <input asp-for="Type.Name" class="form-control" />
                <span asp-validation-for="Type.Name" class="text-danger"></span>
            </div>
            <div class="form-group bill-type-form__price-parts-container">
                <div class="form-group bill-type-form__root-price-part">
                    @Html.TextBoxFor(model => model.PriceParts[0].Name)
                    @Html.TextBoxFor(model => model.PriceParts[0].Value)
                    @Html.CheckBoxFor(model => model.PriceParts[0].Constant)
                </div>
            </div>
            <a 
                id="btnAdd"
                type="button" 
                value="Some text" 
            >LINK</a>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        jQuery("#btnAdd").on("click", () => {
            const pricePartsContainer = jQuery('.bill-type-form__price-parts-container');
            const pricePartRoot = jQuery('.bill-type-form__root-price-part');
            const count = pricePartsContainer.get(0).childElementCount;
            const nativeElements = [...pricePartRoot.children().clone()]
            const newParams = nativeElements.map(
                item => {
                    if (!item instanceof HTMLInputElement) {
                        throw new Error("Item is not instance of HTMLInputElement")
                    }

                    item.name = item.name.replace(/\d/, `${count}`);
                    item.id = item.id.replace(/\d/, `${count}`);;
                    return item;
                }
            );

            const pricePartContainer = jQuery('<div class="form-group bill-type-form__price-part"></div>')
            pricePartContainer.append(newParams);
            pricePartsContainer.append(pricePartContainer);
        });
    </script>
}