@model BillStatus.Models.NewBillTypeDetails

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BillType</h4>
<hr />
<div class="row">
    <tr class="col-md-4">
        <form class="bill-type-form" asp-action="Create">
            <div class="form-group">
                <input id="addBillPricePart" type="button" value="Dodaj częściową opłate" class="btn btn-success" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type.Name" class="control-label"></label>
                <input asp-for="Type.Name" class="form-control" />
                <span asp-validation-for="Type.Name" class="text-danger"></span>
            </div>
            <table class="bill-type-form__price-parts-container">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Wartość</th>
                        <th>Stała</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="form-group bill-type-form__bill-type bill-type-form__bill-type--root">
                        <td>
                            @Html.TextBoxFor(model => model.PriceParts[0].Name)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.PriceParts[0].Value)
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => model.PriceParts[0].Constant)
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        jQuery("#addBillPricePart").on("click", () => {
            const pricePartsContainer = jQuery('.bill-type-form__price-parts-container');
            const pricePartRoot = jQuery('.bill-type-form__bill-type--root');
            const newFormIndex = pricePartsContainer.get(0).childElementCount;

            const nativeElements = [...pricePartRoot.children().clone()]
            const newPricePartFormElements = nativeElements.querySelectorAll("input")].map((item, index) => this.setItemIndex(item, newFormIndex));

            const removePartButton = jQuery(`<input type="button" value="Usuń" class="btn btn-sm btn-danger"/>`);
            removePartButton.click(
                event => {
                    const parentContainer = removePartButton.parent().get(0)
                    const nativeRootPricePartsContainer = pricePartsContainer.get(0);
                    const nativePricePartsContainers = [...(nativeRootPricePartsContainer.children)];
                    let degrade = false;
                    nativePricePartsContainers.forEach((item, containerIndex) => {
                        if (degrade) {
                            debugger;
                            [...(item.querySelectorAll("input"))].forEach(inputItem => this.setItemIndex(inputItem, containerIndex - 1))
                        }

                        if (containerIndex == nativePricePartsContainers.indexOf(parentContainer)) {
                            nativeRootPricePartsContainer.removeChild(item)
                            degrade = true;
                        }
                    });
                }
            )
            
            const pricePartContainer = jQuery('<tr class="form-group bill-type-form__bill-type"></tr>')
            newPricePartFormElements.push(removePartButton);
            pricePartContainer.append(newPricePartFormElements);
            pricePartsContainer.append(pricePartContainer);
        });

        function setItemIndex(item, toIndex) {
            if (!(item instanceof HTMLInputElement)) {
                return item;
            }

            item.name = item.name.replace(/\d/, `${toIndex}`);
            item.id = item.id.replace(/\d/, `${toIndex}`);
            return item;
        }

    </script>
}